#back
{
	position:fixed;
	top:0%;
	left:0%;
}

#header
{
	background-color:#333331;
	height:75px;
}

#flattitle
{
	height:300px;
	opacity:1;
}

#left, #right
{
	font-size:100px;
	background-color:#000000;
	height:150px;
	margin-top:75px;
	border:solid #68C223 5px;
}

#picless, #pic, #picmore
{
	background-color:#333331;
	height:300px;
	text-align:center;
}

#descmore
{
	background-color:#333331;
	display:none;
	height:300px;
	text-align:center;
}

#close
{
	height:50px;
	width:50px;
}

#footcoms
{
	height:300px;
}

#footer
{
	background-color:#333331;
	height:75px;
}

#picless img, #pic img, #picmore img
{
	width:100%;
	height:100%;
	border:solid #333331 25px;
}
