#back1
{
	background-color:#EFEFCE;
}

/*navbar color bg*/
.navbar-default {
    background-color: #333331;
    border-color: #68C223;
}
/**/

/*navbar custom "seedcamp"*/
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus 
{
    color: #68C223;
    background-color: #EFEFCE;
}
.navbar-default .navbar-brand 
{
    color: #68C223;
}
/**/

/*accueil hover*/
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus 
{
    color: #333331;
    background-color: #EFEFCE;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus 
{
    color: #68C223;
    background-color: #EFEFCE;
}
/**/

/*navbar other links*/
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus 
{
    color: #68C223;
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a 
{
    color: #EFEFCE;
}
/**/

/*dropdown*/
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus 
{
    color: #68C223;
    background-color: #EFEFCE;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #EFEFCE;
    background-color: #68C223;
}
.dropdown-menu > li > a 
{
    color: #EFEFCE;
}
.dropdown-menu {
    background-color: #333331;
}
/**/

/*mobile dropdown*/
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus 
{
    color: #EFEFCE;
    background-color: #68C223;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form 
{
    border-color: #68C223;
}


body
{
    font-family: 'Open Sans 400', sans-serif;
    padding-top: 50px;
    background-color: #EFEFCE;
    width: 100%
}
footer 
{
    width: 100%;
    height: 60px;
    height: 100%;
    background-color: #333331;
    border-top: solid 1.8px #68C223;
    color: #68C223 ;
}
footer li {
  display: inline-block;
  margin-right: 5px;
  padding-top: 5px;
}
form {
    background-color: #333331;
}
}
form p, form label {
    color: #EFEFCE;
    background-color: #333331;
}


#content
{
	background-color: #333331;
    text-align:center;
}
#logo
{
	margin-top: 40px;
	max-width: 50%;
}
#logotitre
{
	color: white;
}

.jumbotron {
    background-color: #333331;
    color: #EFEFCE;
}
#comment1{
    margin-top: 15px;
    border-width: 3px;
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px #68C223;
}

#comm1{
    text-align: center;

}
.carousel-inner{
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 300px; /**Modifie la hauteur du carrousel afin de s'adapter au comment**/
}
/**First letter**/
#green {
    color:#68C223;
}
#bar {
    background-color:#68C223;
    height: 60px;
}
#background {
    background-color:#333331;
    color: #EFEFCE;
    border-bottom: solid 1.8px #68C223;
}
.panel-default > .panel-heading {
    background-color: #68C223;
    color: #333331;
}
.panel-body {
    background-color:#333331;
    color: #EFEFCE;
}
#desc{
    margin-top: 3%;
    margin-left: 3%;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #EFEFCE;
    background-color: #68C223;
    border-color: #EFEFCE;
}
.btn-primary {
    color: #68C223;
    background-color: #EFEFCE;
    border-color: #68C223;
}
.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.carousel-control {
    color: #EFEFCE;
}

.carousel-control:hover, .carousel-control:focus {
    color: #68C223;
}

.bordurebasse{
        border-bottom: solid 1.8px #68C223;
}