#back1
{
	background-color:#EFEFCE;
}

/*navbar color bg*/
.navbar-default {
    background-color: #333331;
    border-color: #68C223;
}
/**/

/*navbar custom "seedcamp"*/
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus 
{
    color: #68C223;
    background-color: #EFEFCE;
}
.navbar-default .navbar-brand 
{
    color: #68C223;
}
/**/

/*accueil hover*/
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus 
{
    color: #333331;
    background-color: #EFEFCE;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus 
{
    color: #68C223;
    background-color: #EFEFCE;
}
/**/

/*navbar other links*/
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus 
{
    color: #68C223;
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a 
{
    color: #EFEFCE;
}
/**/

/*dropdown*/
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus 
{
    color: #68C223;
    background-color: #EFEFCE;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #EFEFCE;
    background-color: #68C223;
}
.dropdown-menu > li > a 
{
    color: #EFEFCE;
}
.dropdown-menu {
    background-color: #333331;
}
/**/

/*mobile dropdown*/
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus 
{
    color: #EFEFCE;
    background-color: #68C223;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form 
{
    border-color: #68C223;
}


body
{
    font-family: 'Open Sans 400', sans-serif;
    padding-top: 70px;
    background-color: #EFEFCE;
}
footer 
{
    width: 100%;
    height: 60px;
    height: 100%;
    background-color: #333331;
    border-top: solid 1.8px #68C223;
    color: #68C223 ;
}
footer li {
  display: inline-block;
  margin-right: 5px;
  padding-top: 5px;
}
form p, form label {
    color: #333331;
}


#content
{
	background-color: #333331;
}
#logo
{
	margin-top: 40px;
	max-width: 50%;
}
#logotitre
{
	color: white;
}

.jumbotron {
    background-color: #333331;
    color: #EFEFCE;
}
