<footer>

    <div class="container contact">
        <section class="row footer">
            <div class="col-lg-12 text-center">
            	<ul>
            		<li><a href="https://fr-fr.facebook.com/simplonvillage"><%= image_tag("facebook.png", class: "social img-circle") %></a></li>
            		<li><a href="https://twitter.com/SimplonVillage"><%= image_tag("twitter.png", class: "social img-circle") %></a></li>
            		<li><a href="mailto:simplon.village@gmail.com"><%= image_tag("mail.png", class: "social img-circle") %></a></li>
            	</ul>

                <p id="mentions">Organisme de formation enregistré auprès du Préfet de la région Centre le 23 juin 2014 sous le n° 24 28 0154228 - 18 rue de La Gare 28240 La Loupe - SAS au capital de 7 000 euros - 794 926 063 00015 RCS Chartres</p>
            </div>
        </section>
    </div>

</footer>