<footer>
  <div class="container">
    <div class="row espacefooter">
        <div class="col-xs-6 text-center">
          <p>Sticky Sticky FoOOoOoOooter (c) 2048</p>
        </div>
        <div class="col-xs-6 text-center">
          <ul>
            <li><span class="glyphicon glyphicon-envelope"></span></li>
            <li><span class="glyphicon glyphicon-thumbs-up"></span></li>
            <li><button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-envelope"></span>Contactez-nous</button></li>
            <li>Youtube</li>
          </ul>
        </div>
    </div>
  </div>
</footer>