<footer>
  <div class="container">
    <div class="row">
    	<div class="col-xs-12 espacefooter"> <!-- espacefooter center txt > footer -->
	        <div class="col-xs-4 text-center">
	          <p>www.seedcamp.com <span class="glyphicon glyphicon-copyright-mark"></span> 2014</p>
	        </div>
	        <div class="col-xs-8 text-center">
	          <ul>
	            <li><a href="mailto:blabla@bla.fr"><button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-envelope"></span> Contactez-nous</button></a></li>

	            <li><a href="http://www.facebook.com"><button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-thumbs-up"></span> Facebook</button></a></li>





			        <div class="btn-group dropup">
		      		    <button type="button" class="btn btn-default btn-xs "><span class="glyphicon glyphicon-leaf"></span> Notre réseau</button>

		     		    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
		      		   		 <span class="caret"></span>
		      		    	 <span class="sr-only">Toggle Dropdown</span>
		     		   </button>

		     		   <ul class="dropdown-menu dropdown-menu-right" role="menu">
		       			   <li><a href="#">Innov'educ</a></li>
		      			    <li><a href="#">Simplon Village</a></li>
		      			    <li><a href="#">Kid's Club</a></li>
		      		  </ul>
		      		</div><!-- /btn-group -->








	          </ul>







	        </div>
	    </div>
    </div>
  </div>
</footer>