<div id="intro" class="container">
			<div class="row">
				<div class="col-md-4">
					<br>
					<%= image_tag("contact.png", class: "center-block", id: "piccontact") %>
					<br>

				</div>
				<div class="col-md-8">
					<br>
					<h4><span id="green">C</span>ontactez nous</h4>
						<p><span id="green">V</span>ous voulez nous contacter? Vous êtes intéressé par une de nos formations mais voulez en savoir plus sur nous? Vous êtes formateur et voulez nous proposer une formation? N'hésitez pas à nous joindre et nous répondrons à toutes vos interrogations.
					<br>
				</div>
			</div>
		</div>
			<div class="row">
				<div id="title" class="col-md-12 bordurebasse">
				</div>
			</div>
			<div class="row" id="background">
				<div id="contact" class="col-md-12">
					<div id="containcontact" class="container"><br>
					<p><span id="green">Seedcamp</span>, l'école numérique de La Loupe, est située au 18 rue de la gare à La Loupe, en plein coeur du Perche d'Eure-et-Loir. Première école numérique de la région ayant répondu à un appel d'offre de l'Union Européenne, elle est située à une heure de train de la capitale, est ouverte à tous et garantit une formation professionnelle de qualité pour les métiers du numérique.</p><br>
					</div>
				</div>
			</div>

<div class="row" id="bar">

			<div class="col-md-12 text-center">
			<h3 id="titleform">Formulaire de contact</h3>
			</div>

</div>


		
		<!-- Formulaire -->
  			<div id="form">
    			<div class="row" id="background">
        			<div class="col-md-8 col-md-offset-2">
          				<br>
            				<form class="form-horizontal" action="" method="post">
              					<fieldset>
                					<!--<p id="green" align="center"><strong>Formulaire d'inscription</strong></p>-->

                					<!-- Prénom -->
                					<div class="form-group">
                  						<label class="col-md-3 control-label" for="name">Prénom</label>
                  						<div class="col-md-9">
                    						<input id="firstname" name="firstname" type="text" placeholder="Votre Prénom" class="form-control">
                  						</div>
                					</div>

					                <!-- Nom -->
					                <div class="form-group">
					                  <label class="col-md-3 control-label" for="name">Nom</label>
					                  <div class="col-md-9">
					                    <input id="name" name="name" type="text" placeholder="Votre Nom" class="form-control">
					                  </div>
					                </div>
        
					                <!-- Email-->
					                <div class="form-group">
					                  <label class="col-md-3 control-label" for="email">Votre e-mail</label>
					                  <div class="col-md-9">
					                    <input id="email" name="email" type="text" placeholder="Entrez votre adresse ici" class="form-control">
					                  </div>
					                </div>
        
					                <!-- Message -->
					                <div class="form-group">
					                  <label class="col-md-3 control-label" for="message">Votre message</label>
					                  <div class="col-md-9">
					                    <textarea class="form-control" id="message" name="message" placeholder="Entrez votre message ici..." rows="5"></textarea>
					                  </div>
					                </div>
					        
					                <!-- Submit -->
					                <div class="form-group">
					                  <div class="col-md-12 text-right">
					                    <button type="submit" class="btn btn-primary btn-sm">Envoyer</button>
					                  </div>
					                </div>
					              </fieldset>
					            </form>
					          </div>
					        </div>
					   
					  </div><!-- jumbo et fin du formulaire -->

	<div class="row">
		<div id="title" class="col-md-12">
		</div>
	</div>
			<div class="row">
				<div id="contact" class="col-md-4 text-left">		
					
					<%= image_tag("photogroupe.jpg", class: "img-responsive") %>


				</div>
				<div id="contact" class="col-md-4">
					<div class="embed-responsive embed-responsive-4by3">
						<iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2645.1222321746354!2d1.0117315!3d48.473369!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e3c1f7f154cb2f%3A0x56c92fac27b1deca!2s18+Rue+de+la+Gare%2C+28240+La+Loupe!5e0!3m2!1sfr!2sfr!4v1414487724615" width="400" height="200" frameborder="0" style="border:0"></iframe>
					</div>
				</div>

				<div class="col-md-4">

					<br><br><br>
					<address>
  						<strong>SeedCamp</strong><br>
  						18 rue de la gare<br>
  						28240, La Loupe<br>
  						<abbr title="Téléphone">Tél:</abbr> 02 37 00 00 00
  						<abbr title="Adresse E-mail">Mail:</abbr><a href="mailto:#">simplon.village@gmail.com</a><br>
  						Ter Ligne Paris/Le Mans<br>
  						

					</address>

				</div>
			</div>