
<div class="container">

	<div class="jumbotron text-center" "background">
		<h2>Découvrez nos formations</h2>
		<p>Formez vous sur des technologies novatrices et porteuses, au travers de nos différents formations devenez un as des internets ;)</p>


	</div> <!-- jumbo -->

	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="panel panel-default">
			  <div class="panel-body">

					<div class="col-sm-4 text-center">
					   	&nbsp;<span class="label label-success"><span class="glyphicon glyphicon-search"></span> Mots clés:</span>
					</div> <!-- col sm 4 -->
					<div class="col-sm-8 text-center">

					   	<button type="button" class="btn btn-default btn-sm pull-right">HTML</button>
					   	
					   	<button type="button" class="btn btn-default btn-sm pull-right">CSS</button>
					   	
					   	<button type="button" class="btn btn-default btn-sm pull-right">RESPONSIVE</button>
					   	
					   	<button type="button" class="btn btn-default btn-sm pull-right">PHPMYADMIN</button>	

					   	<button type="button" class="btn btn-default btn-sm pull-right">MYSQL</button>

					   	<button type="button" class="btn btn-default btn-sm pull-right">AJAX</button>

					   	<button type="button" class="btn btn-default btn-sm pull-right">.NET</button>

					   	<button type="button" class="btn btn-default btn-sm pull-right">CMS</button>

					   	<button type="button" class="btn btn-default btn-sm pull-right">ERP</button>
					</div> <!-- col sm 8 -->
			  </div> <!-- panel body -->
			</div> <!-- panel -->
		</div> <!-- col sm 8 -->
	</div> <!-- row -->


	<div class="row">
		<div class="panel panel-default">
			  <!-- Default panel contents -->
			  <div class="panel-heading text-center"><h4>Développeur <abbr title="HyperText Markup Language" class="initialism">HTML</abbr> et <abbr title="Cascading Style Sheets" class="initialism">CSS</abbr></h4></div>
			  <div class="panel-body" >
				<div class="col-sm-3"><img src="http://placehold.it/150x150" alt="..." class="img-rounded center-block"><br></div> <!-- col 3 -->
				<div class="col-sm-9">
					<p>Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla.</p>
			    	<span class="label label-danger"><span class="glyphicon glyphicon-dashboard"></span> Durée de la formation: 20 heures</span>
			    	<span class="label label-info"><span class="glyphicon glyphicon-phone"></span> Technologie abordée: HTML5/CSS3</span>
			    	<br><br>
					<a href="formation.html"><button type="button" class="btn btn-default btn-sm pull-right">En savoir <span class="glyphicon glyphicon-plus"></span>
					</button></a>
				</div> <!-- col9 -->
			  </div> <!-- panel-body -->
		</div> <!-- panel -->
	</div> <!-- row -->
	<hr>
	<div class="row">
		<div class="panel panel-default">
			  <!-- Default panel contents -->
			  <div class="panel-heading text-center"><h4>Développeur HTML et CSS</h4></div>
			  <div class="panel-body">
				<div class="col-sm-3"><img src="http://placehold.it/150x150" alt="..." class="img-rounded center-block"><br></div> <!-- col 3 -->
				<div class="col-sm-9">
					<p>Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla.</p>
			    	<span class="label label-default"><span class="glyphicon glyphicon-dashboard"></span> Durée de la formation: 20 heures</span>
			    	<span class="label label-default"><span class="glyphicon glyphicon-phone"></span> Technologie abordée: HTML5/CSS3</span>
			    	<br><br>
					<button type="button" class="btn btn-default btn-sm pull-right">En savoir <span class="glyphicon glyphicon-plus"></span>
					</button>
				</div> <!-- col9 -->
			  </div> <!-- panel-body -->
		</div> <!-- panel -->
	</div> <!-- row -->
	<hr>
	<div class="row">
		<div class="panel panel-default">
			  <!-- Default panel contents -->
			  <div class="panel-heading text-center"><h4>Développeur HTML et CSS</h4></div>
			  <div class="panel-body">
				<div class="col-sm-3"><img src="http://placehold.it/150x150" alt="..." class="img-rounded center-block"><br></div> <!-- col 3 -->
				<div class="col-sm-9">
					<p>Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla.</p>
			    	<span class="label label-default"><span class="glyphicon glyphicon-dashboard"></span> Durée de la formation: 20 heures</span>
			    	<span class="label label-default"><span class="glyphicon glyphicon-phone"></span> Technologie abordée: HTML5/CSS3</span>
			    	<br><br>
					<button type="button" class="btn btn-default btn-sm pull-right">En savoir <span class="glyphicon glyphicon-plus"></span>
					</button>
				</div> <!-- col9 -->
			  </div> <!-- panel-body -->
		</div> <!-- panel -->
	</div> <!-- row -->

	<div class="text-center">
		<ul class="pagination">
		  <li><a href="">&laquo;</a></li>
		  <li><a href="">1</a></li>
		  <li><a href="">2</a></li>
		  <li><a href="">&raquo;</a></li>
		</ul> 
	</div> <!-- text-center -->

</div> <!-- container -->