---
title: Seedcamp
---

<div id="content" class="bs-docs-header">
    <div class="container" id="#contain">
      <img id="ground" src="./images/back.jpeg">
      <img src="images/logoanimb.gif" class="center-block" id="logo">
      <br>
    </div>
</div>
<div class="col-md-12" id="news">
  <h3><strong>Plus qu'une semaine !</strong></h3>
  <h4>Profiter de notre offre "Micro-Formations" !</h4>
  <h4>Inscrivez vous en cliquant sur l'image correspondante ci-dessous !</h4> 
</div>
<div class="col-md-12" id="discover">
  <h2>Découvrez nos formations...</h2>
</div>
<div class="row">
  <div class="col-md-1 hidden-sm hidden-xs" id="left"><</div>
    <div class="col-md-3 hidden-sm hidden-xs" id="picless">
      <img id="less" src="./images/forma2.jpg">
    </div>
    <div class="col-md-4 hidden-sm hidden-xs" id="pic" href="#pic">
      <img src="./images/forma3.jpg">
    </div>
    <div class="col-md-3 hidden-sm hidden-xs" id="picmore">
      <img id="more" src="./images/forma4.jpg">
    </div>
    <div class="col-md-1" id="right">></div>
  </div>
  <div class="col-md-12 hidden-sm hidden-xs" id="momore">
    <p>Une explication détaillée de cette formation</p>
    <p>est disponible ci-dessous !</p>
  </div>
<div class="row">
  <div class="col-md-5" id="comsmore">
    <img id="paracom"src="./images/coms.jpeg">
    <div id="facecoms">
      <img src="./images/commit1.jpg">
    </div>
    <div id="realcoms">
      <h3>«Grâce à vous, j’ai de bonnes bases pour évoluer dans la programmation web ! A moi internet ! ;-)»</h3>
    </div>
  </div>
  <div class="col-md-7" id="descmore">
    <br></br>
    <h3>OFFRE DE FORMATION : Développeur HTML et CSS</h3>
    <br></br>
    <p>Envie de prendre les commandes de vos pages web et mobiles ? Ce module de formation  vous offre la possibilité d’apprendre les bases du code HTML et CSS afin de devenir en quelques semaines capables de programmer des sites webs complets et fonctionnels.</p>
    <br></br>
    <ul>
      <li>Les bases du langage web (10 heures)</li>
      <li>Apprentissage du HTML (25 heures)</li>
      <li>Intégrer son CSS dans sa page (15 heures)</li>
      <li>Bootstrap et les outils de tous les jours (8 heures)</li>
      <li>Créez votre propre site ! (25 heures)</li>
    </ul>
  </div>
</div>
<div class="col-md-12" id="commit">
  <h2>... & Cultivez votre imagination !</h2>
</div>
<div class="row">
  <div class="col-md-11 hidden-sm hidden-xs" id="footcoms">
    <img src="./images/man1.jpg">
    <div id="coms">
      <blockquote>
        <p>« Au départ, j’ai appris la programmation et le développement par passion. Pendant mes études d’ingénieur, j’ai toujours aimé hacké les choses qui m’environnaient. Par hacking, j’entends déconstruire : comprendre comment les mécanismes fonctionnent et les réutiliser pour leur trouver d’autres utilités.»</p>
      </blockquote>
    </div>
  </div>
  <div class="col-md-1 hidden-sm hidden-xs" id="switch">></div>
</div>
<div class="col-md-12" id="footer"></div>