---
title: Seedcamp
---

<div id="content" class="bs-docs-header">
    <div class="container" id="#contain">
      <img id="ground" src="./images/back.jpeg">
      <img src="images/logoanimb.gif" class="center-block" id="logo">
      <br>
    </div>
</div>
<div class="col-md-12" id="news">
    <h3><strong>Plus qu'une semaine !</strong></h3>
    <h4>Profiter de notre offre "Micro-Formations" !</h4>
    <h4>Inscrivez vous en cliquant sur l'image correspondante ci-dessous !</h4> 
</div>
<div class="col-md-12" id="discover">
  <h2>Découvrez nos formations...</h2>
</div>
<div class="row hidden-sm hidden-xs">
      <div onmouseover="this.style.cursor='pointer'">
        <div class="col-md-1 hidden-sm hidden-xs" id="left"><</div>
      </div>
      <div onmouseover="this.style.cursor='pointer'">  
        <div class="col-md-3 hidden-sm hidden-xs" id="picless">
        <img id="less" src="./images/forma2.jpg">
        </div>
      </div>
      <div onmouseover="this.style.cursor='pointer'">
        <div class="col-md-4 hidden-sm hidden-xs" id="pic" href="#pic">
          <img src="./images/forma3.jpg">
        </div>
      </div>
      <div onmouseover="this.style.cursor='pointer'">
        <div class="col-md-3 hidden-sm hidden-xs" id="picmore">
        <img id="more" src="./images/forma4.jpg">
        </div>
      </div>
      <div onmouseover="this.style.cursor='pointer'">
        <div class="col-md-1" id="right">></div></div>
</div>
<div class="col-md-12 hidden-sm hidden-xs" id="momore">
    <p id="green"><strong>Une explication détaillée de cette formation</strong></p>
    <p class=strong id="green"><strong>est disponible ci-dessous !</strong></p>
</div>
<br>
<br>
<br>
<div class="row">
<div class="col-md-5" id="fondcomment">
  <br>
  <br><
  <div id="gens">
    <img id="jambon" src="./images/commit1.jpg">
  </div>
  <div id="beurre">
    <h3>«Grâce à vous, j’ai de bonnes bases pour évoluer dans la programmation web ! A moi internet ! ;-)»</h3>
  </div>
</div>
<div class="col-md-7" id="descmore">
    <h3>OFFRE DE FORMATION : Développeur HTML et CSS</h3>
      <br>
        <p>Envie de prendre les commandes de vos pages web et mobiles ? Ce module de formation  vous offre la possibilité d’apprendre les bases du code HTML et CSS afin de devenir en quelques semaines capables de programmer des sites webs complets et fonctionnels.</p>
      <br>
        <ul>
          <li>Les bases du langage web (10 heures)</li>
          <li>Apprentissage du HTML (25 heures)</li>
          <li>Intégrer son CSS dans sa page (15 heures)</li>
          <li>Bootstrap et les outils de tous les jours (8 heures)</li>
          <li>Créez votre propre site ! (25 heures)</li>
        </ul>
    <a id="salami" href="formation.html">En savoir plus !</a>
</div>
<br>
<div class="col-md-12" id="commit">
  <h2>... Et cultivez votre imagination !</h2>
</div>