---
title: Seedcamp
---

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">    
    <div class="jumbotron">

      <%= image_tag("logobarrenoir.gif", class: "center-block", id: "logo") %>
<!-- <img src="img/logobarrenoir.gif" class="center-block" id="logo"> -->

        <br>
        <h4 id="logotitre" class="text-center">L'école numérique de La Loupe</h4>
    </div>
  </div>
</div>

<div class="jumbotron">
  <div class="container-fluid">
  	<div class="row">
      <div class="col-md-12">
        <div class="col-md-4">

          <img src="http://lorempixel.com/150/150/" class="thumbnail center-block">

        </div><!-- 4 -->
        <div class="col-md-8 text-left">
         The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
        </div><!-- 4 -->
      </div> <!-- 12 -->
  	</div> <!-- row -->
  </div> <!-- container -->
</div><!-- jumbo -->

<div class="jumbotron">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 text-right">
        <ul>
          <li>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</li>
          <li>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</li>
          <li>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</li>
          <li>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</li>
        </ul>
      </div><!-- 4 -->
      <div class="col-md-4">
        <img src="http://lorempixel.com/150/150/" class="thumbnail center-block">
      </div><!-- 4 -->
    </div> <!-- row -->
  </div> <!-- container -->
</div> <!-- jumbo -->

<div class="jumbotron">
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="well well-sm">
            <form class="form-horizontal" action="" method="post">
              <fieldset>
                <p align="center"><strong>Formulaire</strong></p>
        
                <!-- Prénom -->
                <div class="form-group">
                  <label class="col-md-3 control-label" for="name">Prénom</label>
                  <div class="col-md-9">
                    <input id="firstname" name="firstname" type="text" placeholder="Votre Prénom" class="form-control">
                  </div>
                </div>

                <!-- Nom -->
                <div class="form-group">
                  <label class="col-md-3 control-label" for="name">Nom</label>
                  <div class="col-md-9">
                    <input id="name" name="name" type="text" placeholder="Votre Nom" class="form-control">
                  </div>
                </div>
        
                <!-- Email-->
                <div class="form-group">
                  <label class="col-md-3 control-label" for="email">Votre e-mail</label>
                  <div class="col-md-9">
                    <input id="email" name="email" type="text" placeholder="Entrez votre adresse ici" class="form-control">
                  </div>
                </div>
        
                <!-- Message -->
                <div class="form-group">
                  <label class="col-md-3 control-label" for="message">Votre message</label>
                  <div class="col-md-9">
                    <textarea class="form-control" id="message" name="message" placeholder="Entrez votre message ici..." rows="5"></textarea>
                  </div>
                </div>
        
                <!-- Submit -->
                <div class="form-group">
                  <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-primary btn-lg">Envoyer</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
    </div>
  </div>
</div><!-- jumbo -->